doctype html
html
    head
        style
            include style.css

    body
        div.header
            | Netflix
            | Netflix Values Your Opinion

        block content

        div.footer
            | We appreciate your time and feedback!
            | Your friend from Netflix
            a(href=frontedUrl) Netflix
